player-connection-mode=Connect
player-connection-guid=139685429
player-connection-debug=1
player-connection-project-name=sss
player-connection-wait-timeout=-1
player-connection-ip=10.158.18.243
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
build-guid=40b6bdf7b637481e934afbff9497d8a8
